:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --first-title-color: #212121;
  --second-title-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--first-text-color);
}

.index-btn {
  background: #f5f4fa;
  border-radius: 4px;
}

.nav-btn {
  background: #f5f4fa;
  border-radius: 4px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-text-color);
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.logo-color-dark {
  color: var(--first-title-color);
}
.logo-color-light {
  color: var(--second-title-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: inherit;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-text-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-text-color);
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--second-title-color);
}

.bgc {
  background-color: #2f303a;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.adv-pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
}
.adv-about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

.manager-name-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-title-color);
}

.manager-spec-item {
  font-weight: 400l;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

.footer-adr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.footer-mail,
.footer-tel {
  font-weight: 400l;
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
